section.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    color: forestgreen;
    border-radius: 75px;
    border: 5px seagreen dashed;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h1, h3 {
        font-family: "Andale Mono", monospace;
    }

    div.flex-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;

        .row {
            &:hover {
                color: deeppink;
            }
            display: flex;
            justify-content: space-between;

        }

        .cell {
            text-align: center;
            padding: 4px;
            width: 1.25em;
        }

        .highlight {
            background-color: darkseagreen;
        }
    }

    .generate-box {
        display: flex;
        gap: 10px;

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;


            label {
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }
        }
        button {
            background-color: darkseagreen;
            border: none;
            font-size: 300%;
            border-radius: 10px;
            padding: 0 20px;
            cursor: pointer;
            box-shadow: 2px 2px 5px darkolivegreen;

            &:hover {
                background-color: darkslategrey;
                position: relative;
            }

            &:active {
                background-color: darkseagreen;
                position: relative;
                top: 2px;
            }

        }
    }



    #output {
        display: flex;
        flex-direction: column;
        gap: 5px;
        box-shadow: 4px 4px 10px darkolivegreen;


        .row {
            display: flex;
            justify-content: space-between;
            gap: 5px;
        }
    }
}






