section.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    color: hotpink;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 5px skyblue dashed;

    h1, h3 {
        font-family: Thonburi;
    }

    .generate-box {
        display: flex;
        gap: 10px;

        button {
            background-color: lightblue;
            border: dashed 5px skyblue;
        }

        button:active {
            background-color: indianred; /* Changes on click */
            position: relative;
            top: 2px; /* Creates a slight "pressed" effect */
            border: 5px solid darkred;

        }

    .inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;


            label {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                color: hotpink
            }
        }
    }

    #output {
        overflow: scroll;
        max-width: 90vw;
        max-height: 60vh;

        table {
            border: 2px dashed darkseagreen;
            border-collapse: collapse;

            td {
                padding: 2px;
                text-align: center;
            }
        }
    }
}