section {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    color: hotpink;
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 5px skyblue dashed;
    background-color: lavenderblush;
}

h1, h3 {
    font-family: "Andale Mono", monospace;
}

div.flex-table {
    box-shadow: 2px 2px 5px lightslategray;
}

.generate-box {
    display: flex;
    gap: 10px;

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 5px;


        label {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            color: hotpink;
        }
    }

    button {
        background-color: hotpink;
        border: none;
        font-size: 300%;
        border-radius: 10px;
        padding: 0 20px;
        cursor: pointer;
        box-shadow: 2px 2px 5px lightslategray;


        &:hover {
            background-color: deeppink;
            position: relative;
        }

        &:active {
            background-color: darkseagreen;
            position: relative;
            top: 2px;
        }

    }
}


.row {
    display: flex;


    &:hover {
        .cell {
            background-color: deepskyblue;
            color: white;
        }
    }

    .highlight {
        background-color: lightblue;
    }

    &:first-child .cell,
    &:last-child .cell {
        background-color: lightblue;
    }

    .cell:first-child,
    .cell:last-child {
        background-color: lightblue;
    }

}

.cell {
    width: 22px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    background-color: lavenderblush;

}

.cell.highlight,
.row.highlight .cell {
    background-color: mediumpurple;
    color: white;
}


